<div class="page-header">
  <div class="page-header menu">
    <div class="page-title">
      <h4>Call History</h4>
      <h6>Manage your products</h6>
    </div>
  </div>
  <div>
    <ul class="table-top-head">
      <li>
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Pdf" matTooltip="Pdf" matTooltipPosition="above"><img
        src="assets/img/icons/pdf.svg" alt="img"></a>
      </li>
      <li>
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Excel" matTooltip="Excel"
          matTooltipPosition="above"><img src="assets/img/icons/excel.svg" alt="img"></a>
        </li>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh" matTooltip="Refresh"
              matTooltipPosition="above"><i class="ti ti-refresh"></i></a>
            </li>
            <li>
              <a (click)="toggleCollapse()" [class.active]="isCollapsed" data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse"
                matTooltip="Collapse" matTooltipPosition="above" id="collapse-header"> @if (!isCollapsed) {
                <i class="ti ti-chevron-up"></i>
              }
              @if (isCollapsed) {
                <i class="ti ti-chevron-up"></i>
              }</a>
            </li>
          </ul>
        </div>
      </div>


      <!-- /product list -->
      <div class="card table-list-card">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
          <div class="search-set">
            <div class="search-input">
              <a href="javascript:void(0);" class="btn btn-searchset"><i class="feather icon-search feather-search"></i></a>
              <div class="dataTables_filter">
                <label>
                  <input [(ngModel)]="searchDataValue" [ngModelOptions]="{standalone: true}" (ngModelChange)="searchData(searchDataValue)"
                    type="search" class="form-control" placeholder="Search" />
                  </label>
                </div>
              </div>
          </div>
          <div class="d-flex table-dropdown my-xl-auto right-content align-items-center flex-wrap row-gap-3">
            <div class="dropdown me-2">
              <a href="javascript:void(0);" class="dropdown-toggle btn btn-white btn-md d-inline-flex align-items-center" data-bs-toggle="dropdown">
                Call type
              </a>
              <ul class="dropdown-menu  dropdown-menu-end p-3">
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1">Incoming</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1">Outgoing</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1">Missed Call</a>
                </li>
              </ul>
            </div>
            <div class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle btn btn-white btn-md d-inline-flex align-items-center" data-bs-toggle="dropdown">
                Sort By : Last 7 Days
              </a>
              <ul class="dropdown-menu  dropdown-menu-end p-3">
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1">Recently Added</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1">Ascending</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1">Desending</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1">Last Month</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item rounded-1">Last 7 Days</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="table-responsive product-list">
              <table class="table  datanew list" matSort (matSortChange)="sortData($event)">
                <thead class="thead-light">
                  <tr>
                    <th class="no-sort">
                      <label class="checkboxs">
                         <input type="checkbox" id="select-all" [(ngModel)]="initChecked" >
                        <span class="checkmarks"></span>
                      </label>
                    </th>
                    <th mat-sort-header="username">Username</th>
                    <th mat-sort-header="phoneNumber">Phone Number</th>
                    <th mat-sort-header="callType">Call Type</th>
                    <th mat-sort-header="duration">Duration</th>
                    <th mat-sort-header="dateTime">Date & Time</th>
                    <th class="no-sort">Action</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data) {
                    <tr>
                      <td>
                        <label class="checkboxs">
                          <input type="checkbox">
                          <span class="checkmarks"></span>
                        </label>
                      </td>
                      <td>
                        <div class="userimgname">
                          <a href="javascript:void(0);" class="product-img">
                            <img [src]="data.img" alt="product">
                          </a>
                          <a href="javascript:void(0);">{{data.username}}</a>
                        </div>
                      </td>
                      <td>{{data.phoneNumber}}</td>
                      @if (data.audio === true) {
                        <td class="phone-call-icon"><i class="feather icon-phone income-calls me-1"></i><i class="feather me-1"
                      [ngClass]="{'icon-arrow-down-left income-success': data.callType === 'Incoming Call' || data.callType === 'Outgoing Call', 'icon-arrow-down-right income-success-missed': data.callType === 'Missed Call'}"></i>{{data.callType}}
                    </td>
                  }
                  @if (data.video === true) {
                    <td class="phone-call-icon"><i class="feather icon-video income-calls me-1"></i><i class="feather me-1"
                  [ngClass]="{'icon-arrow-down-left income-success': data.callType === 'Incoming Call' || data.callType === 'Outgoing Call', 'icon-arrow-down-right income-success-missed': data.callType === 'Missed Call'}"></i>{{data.callType}}
                </td>
              }
              <td>{{data.duration}}</td>
              <td>{{data.dateTime}}</td>
              <td class="action-table-data">
                <div class="edit-delete-action">
                  <a class="me-3 p-2" href="javascript:void(0);" data-bs-toggle="modal"
                    data-bs-target="#user-profile-new">
                    <i class="feather icon-eye feather-eye"></i>
                  </a>
                  <a class="confirm-text p-2" href="javascript:void(0);"data-bs-toggle="modal" data-bs-target="#delete-modal">
                    <i class="feather icon-trash-2 feather-trash-2"></i>
                  </a>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <app-custom-pagination></app-custom-pagination>
  </div>
</div>
<!-- /product list -->

		<!-- details popup -->
		<div class="modal fade" id="user-profile-new">
			<div class="modal-dialog history-modal-profile">
				<div class="modal-content">
					<div class="page-wrapper details-blk">
						<div class="content p-4">
							<div class="text-center right-sidebar-profile mb-3">
								<figure class="avatar">
									<img class="rounded-circle" src="assets/img/users/user-08.jpg" alt="image">
								</figure>
								<div class="chat-options chat-option-profile">
									<ul class="list-inline">
										<li class="list-inline-item">
											<a href="video-call.html" class="bg-secondary-transparent p-2 d-flex align-items-center rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Video Call">
												<i data-feather="video" class="feather icon-video fs-20"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a href="chat.html" class="bg-primary p-2 d-flex align-items-center rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Chat">
												<i data-feather="message-square" class="feather icon-message-square fs-20"></i>
											</a>
										</li>
										<li class="list-inline-item ">
											<a href="audio-call.html" class="profile-open bg-secondary-transparent p-2 d-flex align-items-center rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Voice Call">
												<i data-feather="phone" class="feather icon-phone fs-20"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="modal-profile-detail">
								<div class="row">
									<div class="col-lg-6">
										<div class="modal-userlist">
											<ul>
												<li>Name<span>Thomas</span></li>
												<li>Phone<span>+1 25182 94528</span></li>
												<li>Email<span>thomas&#64;example.com</span></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="modal-userlist d-flex justify-content-center">
											<ul>
												<li>Total Calls<span>20</span></li>
												<li>Average Call Timing<span>0.30</span></li>
												<li>Average Waiting Time<span>00.5</span></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /details popup -->

		<!-- Delete -->
		<div class="modal fade modal-default" id="delete">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body p-0">
						<div class="success-wrap text-center">
							<form action="call-history.html">
								<div class="icon-success bg-danger-transparent text-danger mb-2">
									<i class="ti ti-trash"></i>
								</div>
								<h3 class="mb-2">Delete History</h3>
								<p class="fs-16 mb-3">Are you sure you want to delete contact from call history?</p>
								<div class="d-flex align-items-center justify-content-center gap-2 flex-wrap">
									<button type="button" class="btn btn-md btn-secondary" data-bs-dismiss="modal">No, Cancel</button>
									<button type="submit" class="btn btn-md btn-primary" data-bs-dismiss="modal">Yes, Delete</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete -->