<div class="page-header">
    <div class="add-item d-flex">
        <div class="page-title">
            <h4 class="fw-bold">Cash Flow</h4>
            <h6>View Your Cashflows </h6>
        </div>
    </div>
    <ul class="table-top-head">
        <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Pdf"><img src="assets/img/icons/pdf.svg" alt="img"></a>
        </li>
        <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Excel"><img src="assets/img/icons/excel.svg" alt="img"></a>
        </li>
        <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"><i  class="ti ti-refresh"></i></a>
          </li>
          <li>
            <a (click)="toggleCollapse()" [class.active]="isCollapsed" data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse" id="collapse-header" matTooltip="Collapse"> @if (!isCollapsed) {
              <i class="ti ti-chevron-up"></i>
            }
            @if (isCollapsed) {
              <i class="ti ti-chevron-up"></i>
            }</a>
          </li>
    </ul>
</div>

<!-- /product list -->
<div class="card table-list-card">
    <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
        <div class="search-set">
            <div class="search-input">
				<a href="javascript:void(0);" class="btn btn-searchset"><i  class="feather icon-search feather-search"></i></a>
				<div class="dataTables_filter">
				  <label>
					<input
					  [(ngModel)]="searchDataValue" [ngModelOptions]="{standalone: true}"
					  (ngModelChange)="searchData(searchDataValue)"
					  type="search"
					  class="form-control"
					  placeholder="Search"
					  />
					</label>
				  </div>
				</div>
        </div>
        <div class="d-flex table-dropdown my-xl-auto right-content align-items-center flex-wrap row-gap-3">
        
            
            <div class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle btn btn-white btn-md d-inline-flex align-items-center" data-bs-toggle="dropdown">
                Payment Method
                </a>
                <ul class="dropdown-menu  dropdown-menu-end p-3">
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Stripe</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Cash</a>
                    </li>	
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Paypal</a>
                    </li>									
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
          <table class="table  datanew" (matSortChange)="sortData($event)" matSort matSortActive="Sno"
            matSortDirection="asc" matSortDisableClear>
            <thead class="thead-light">
              <tr>
                <th mat-sort-header="product">Date</th>
                <th mat-sort-header="expense">Bank & Account Number</th>
                <th mat-sort-header="category">Description</th>
                <th mat-sort-header="describtion">Credit</th>
                <th mat-sort-header="date">Debit</th>
                <th mat-sort-header="acc">Account balance</th>
                <th mat-sort-header="total">Total Balance</th>
                <th mat-sort-header="amount">Payment Method</th>
              </tr>
            </thead>
            <tbody class="Expense-list-blk">
              @for (data of tableData; track data; let i = $index) {
                <tr>
                    <td class="p-3">{{data.date}}</td>
                    <td class="p-3">{{data.bankAccount}}</td>
                    <td class="p-3">{{data.description}}</td>
                    <td class="p-3">{{data.credit}}</td>
                    <td class="p-3">{{data.debit}}</td>
                    <td class="p-3">{{data.accountBalance}}</td>
                    <td class="p-3">{{data.totalBalance}}</td>
                    <td class="p-3">{{data.paymentMethod}}</td>
                  </tr>
                }@if(tableData.length === 0){
                  <tr>
                    <td class="text-center" colspan="12">No Matching Data Found</td>
                  </tr>
                }
            </tbody>
          </table>
    
        </div>
        <app-custom-pagination></app-custom-pagination>
      </div>
</div>
<!-- /product list -->