<div class="page-header">
    <div class="add-item d-flex">
        <div class="page-title">
            <h4>Purchase Transaction</h4>
            <h6>Manage your purchase transaction</h6>
        </div>
    </div>
    <ul class="table-top-head">
        <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Pdf"><img src="assets/img/icons/pdf.svg" alt="img"></a>
        </li>
        <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Excel"><img src="assets/img/icons/excel.svg" alt="img"></a>
        </li>
        <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh" matTooltip="Refresh" matTooltipPosition="above">
              <i class="ti ti-refresh"></i>
            </a>
          </li>
          <li>
            <a (click)="toggleCollapse()" [class.active]="isCollapsed" data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse" matTooltip="Collapse" atTooltipPosition="above" id="collapse-header">
               @if (!isCollapsed) {
              <i class="ti ti-chevron-up"></i>
            }
            @if (isCollapsed) {
              <i class="ti ti-chevron-up"></i>
            }</a>
          </li>
    </ul>
</div>

<!-- /product list -->
<div class="card table-list-card">
    <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
        <div class="search-set">
            <div class="search-input">
                <a href="javascript:void(0);" class="btn btn-searchset"><i class="feather icon-search feather-search"></i></a>
                <div class="dataTables_filter">
                  <label>
                    <input [(ngModel)]="searchDataValue" [ngModelOptions]="{standalone: true}" (ngModelChange)="searchData(searchDataValue)"
                      type="search" class="form-control" placeholder="Search" />
                    </label>
                  </div>
                </div>
        </div>
        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
            
            <div class="dropdown me-2">
                <a href="javascript:void(0);" class="dropdown-toggle btn btn-white btn-md d-inline-flex align-items-center" data-bs-toggle="dropdown">
                    Payment Method
                </a>
                <ul class="dropdown-menu  dropdown-menu-end p-3">
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Credit card</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Paypal</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Debit Card</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown me-2">
                <a href="javascript:void(0);" class="dropdown-toggle btn btn-white btn-md d-inline-flex align-items-center" data-bs-toggle="dropdown">
                    Select Status
                </a>
                <ul class="dropdown-menu  dropdown-menu-end p-3">
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Paid</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Unpaid</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle btn btn-white btn-md d-inline-flex align-items-center" data-bs-toggle="dropdown">
                    Sort By : Last 7 Days
                </a>
                <ul class="dropdown-menu  dropdown-menu-end p-3">
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Recently Added</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Ascending</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Desending</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Last Month</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Last 7 Days</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="custom-datatable-filter table-responsive">
            <table class="table datatable">
                <thead class="thead-light">
                    <tr>
                        <th class="no-sort">
                            <label class="checkboxs" (click)="selectAll(initChecked)">
                              <input type="checkbox" id="select-all" [(ngModel)]="initChecked">
                              <span class="checkmarks"></span>
                            </label>
                          </th>
                        <th>Invoice ID</th>
                        <th>Customer</th>
                        <th>Email</th>
                        <th>Created Date</th>
                        <th>Amount</th>
                        <th>Payment Method</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (data of tableData; track data) {
                    <tr>
                        <td>
                            <label class="checkboxs">
                              <input type="checkbox" [(ngModel)]="data.isSelected">
                              <span class="checkmarks"></span>
                            </label>
                          </td>
                      <td>{{data.InvoiceID}}</td>
                      <td>
                                              <div class="d-flex align-items-center file-name-icon">
                                                  <a href="javascript:void(0);" class="avatar avatar-md border rounded-circle">
                                                      <img src="assets/img/company/{{data?.Image}}" class="img-fluid" alt="img">
                                                  </a>
                                                  <div class="ms-2">
                                                      <h6 class="fw-medium"><a href="javascript:void(0);">{{data.CompanyName}}</a></h6>
                                                  </div>
                                              </div>
                        </td>
                        <td>{{data.Email}}</td>
                        <td>
                            ${{data.Amount}}
                        </td>
                        <td>{{data.CreatedDate}}</td>
                        <td>{{data.PaymentMethod}}</td>
                        <td>
                            <span class="badge d-inline-flex align-items-center badge-xs" [ngClass]="data.Status === 'Paid'? 'badge-success':'badge-danger'">
                                <i class="ti ti-point-filled me-1"></i>{{data.Status}}
                            </span>
                        </td>
                        <td>
                            <div class="action-icon d-inline-flex align-items-center">
                                <a href="javascript:void(0);" class="p-2 d-flex align-items-center border rounded me-2" data-bs-toggle="modal" data-bs-target="#view_invoice"><i class="ti ti-file-invoice"></i></a>
                                <a href="javascript:void(0);" class="p-2 d-flex align-items-center border rounded me-2"><i class="ti ti-download"></i></a>
                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal" class="p-2 d-flex align-items-center border rounded"><i class="ti ti-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    }
                    @if (tableData.length === 0) {
                    <tr>
                        <td colspan="10" class="text-center"> No matching records found </td>
                    </tr>
                    }
                  </tbody>
            </table>
        </div>
        <app-custom-pagination/>
    </div>
</div>
<!-- /product list -->


		<!-- Invoices -->
		<div class="modal fade" id="view_invoice">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-body p-5">
						<div class="row justify-content-between align-items-center mb-3">
							<div class="col-md-6">
								<div class="mb-4">
									<img src="assets/img/logo.svg" width="130" class="img-fluid" alt="logo">
								</div>
							</div>
							<div class="col-md-6">
								<div class=" text-end mb-3">
									<h5 class="text-dark mb-1">Invoice</h5>
									<p class="mb-1 fw-normal"><i class="ti ti-file-invoice me-1"></i>INV0287</p>
									<p class="mb-1 fw-normal"><i class="ti ti-calendar me-1"></i>Issue date : 12 Sep 2024 </p>
									<p class="fw-normal"><i class="ti ti-calendar me-1"></i>Due date : 12 Oct 2024 </p>
								</div>
							</div>
						</div>
						<div class="row mb-3 d-flex justify-content-between">
							<div class="col-md-7">
								<p class="text-dark mb-2 fw-medium fs-16">Invoice From :</p>
								<div>
									<p class="mb-1">Dreamspos</p>
									<p class="mb-1">367 Hillcrest Lane, Irvine, California, 
										United States</p>
									<p class="mb-1">dreamspos&#64;example.com</p>
								</div>
							</div>
							<div class="col-md-5">
								<p class="text-dark mb-2 fw-medium fs-16 text-end">Invoice To :</p>
								<div>
									<p class="mb-1 text-end">BrightWave Innovations</p>
									<p class="mb-1 text-end">367 Hillcrest Lane, Irvine, California, 
										United States</p>
									<p class="mb-1 text-end">michael&#64;example.com</p>
								</div>
							</div>
						</div>
						<div class="mb-4">
							<div class="table-responsive mb-3">
								<table class="table">
									<thead class="thead-light">
										<tr>
											<th>Plan</th>
											<th class="text-end">Billing Cycle</th>
											<th class="text-end">Created Date</th>
											<th class="text-end">Expiring On</th>
											<th class="text-end">Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Advanced (Monthly)</td>
											<td class="text-end">30 Days</td>
											<td class="text-end">12 Sep 2024</td>
											<td class="text-end">12 Oct 2024</td>
											<td class="text-end">$200</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row mb-3 d-flex justify-content-between">
							<div class="col-md-4">
								<div>
									<h6 class="mb-4">Payment info:</h6>
									<p class="mb-0">Credit Card - 123***********789</p>
									<div class="d-flex justify-content-between align-items-center mb-2 pe-3">
										<p class="mb-0">Amount</p>
										<p class="text-dark fw-medium mb-2">$200.00</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="d-flex justify-content-between align-items-center pe-3">
									<p class="text-dark fw-medium mb-0">Sub Total</p>
									<p class="mb-2">$200.00</p>
								</div>
								<div class="d-flex justify-content-between align-items-center pe-3">
									<p class="text-dark fw-medium mb-0">Tax </p>
									<p class="mb-2">$0.00</p>
								</div>
								<div class="d-flex justify-content-between align-items-center pe-3">
									<p class="text-dark fw-medium mb-0">Total</p>
									<p class="text-dark fw-medium mb-2">$200.00</p>
								</div>
							</div>
						</div>
						<div class="card border mb-0">
							<div class="card-body">
								<p class="text-dark fw-medium mb-2">Terms & Conditions:</p>
								<p class="fs-12 fw-normal d-flex align-items-baseline mb-2"><i class="ti ti-point-filled text-primary me-1"></i>All payments must be made according to the agreed schedule. Late payments may incur additional fees.</p>
								<p class="fs-12 fw-normal d-flex align-items-baseline"><i class="ti ti-point-filled text-primary me-1"></i>We are not liable for any indirect, incidental, or consequential damages, including loss of profits, revenue, or data.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Invoices -->

		<!-- Delete Modal -->
		<div class="modal fade" id="delete_modal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<span class="avatar avatar-xl bg-danger-transparent rounded-circle text-danger mb-3">
							<i class="ti ti-trash-x fs-36"></i>
						</span>
						<h4 class="mb-1">Confirm Delete</h4>
						<p class="mb-3">You want to delete all the marked items, this cant be undone once you delete.</p>
						<div class="d-flex justify-content-center">
							<a href="javascript:void(0);" class="btn btn-secondary me-3" data-bs-dismiss="modal">Cancel</a>
							<a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Yes, Delete</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Modal -->