<div class="page-header">
  <div class="add-item d-flex">
    <div class="page-title">
      <h4>Edit Product</h4>
      <h6>Edit Your product</h6>
    </div>
  </div>
  <ul class="table-top-head">
    
  <li>
    <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Refresh" matTooltipPosition="above"><i
    class="ti ti-refresh"></i></a>
  </li>
  <li>
    <a data-bs-toggle="tooltip" data-bs-placement="top" id="collapse-header" (click)="toggleCollapse()" [class.active]="isCollapsed" matTooltip="Collapse"
      matTooltipPosition="above"> @if (!isCollapsed) {
      <i class="ti ti-chevron-up"></i>
    }
    @if (isCollapsed) {
      <i class="ti ti-chevron-up"></i>
    }</a>
  </li>
  <li>
    <div class="page-btn mt-0">
      <a [routerLink]="routes.productList" class="btn btn-secondary w-100"><i class="feather icon-arrow-left me-2"></i>Back
    to Product</a>
  </div>
</li>
</ul>

</div>
<!-- /add -->
<form action="add-product.html" class="add-product-form">
  <div class="add-product">
    <div class="accordions-items-seperate" id="accordionSpacingExample">
      <div class="accordion-item border mb-4">
        <h2 class="accordion-header" id="headingSpacingOne">
          <div class="accordion-button collapsed bg-white" data-bs-toggle="collapse" data-bs-target="#SpacingOne" aria-expanded="true" aria-controls="SpacingOne">
            <div class="d-flex align-items-center justify-content-between flex-fill">
            <h5 class="d-flex align-items-center"><i data-feather="info" class="feather icon-info text-primary me-2"></i><span>Product Information</span></h5>
            </div>
          </div>
        </h2>
        <div id="SpacingOne" class="accordion-collapse collapse show" aria-labelledby="headingSpacingOne">
          <div class="accordion-body border-top">
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="mb-3">
                  <label class="form-label">Store<span class="text-danger ms-1">*</span></label>
                  <mat-select class="custom-mat-select select" placeholder="Electro Mart">
                    <mat-option value="1">Select</mat-option>
                    <mat-option value="1">Electro Mart</mat-option>
                    <mat-option value="1">Quantum Gadgets</mat-option>
                    <mat-option value="1">Gadget World</mat-option>
                    <mat-option value="1">Volt Vault</mat-option>
                    <mat-option value="1">Elite Retail</mat-option>
                    <mat-option value="1">Prime Mart</mat-option>
                    <mat-option value="1">NeoTech Store</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="mb-3">
                  <label class="form-label">Warehouse<span class="text-danger ms-1">*</span></label>
                  <mat-select class="custom-mat-select select" placeholder="Lavish Warehouse">
                    <mat-option value="1">Select</mat-option>
                    <mat-option value="1">Lavish Warehouse</mat-option>
                    <mat-option value="1">Quaint Warehouse</mat-option>
                    <mat-option value="1">Traditional Warehouse</mat-option>
                    <mat-option value="1">Cool Warehouse</mat-option>
                    <mat-option value="1">Overflow Warehouse</mat-option>
                    <mat-option value="1">Nova Storage Hub</mat-option>
                    <mat-option value="1">Retail Supply Hub</mat-option>
                    <mat-option value="1">EdgeWare Solutions</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="mb-3">
                  <label class="form-label">Product Name<span class="text-danger ms-1">*</span></label>
                  <input type="text" class="form-control" value="Lenovo 3rd Generation">
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="mb-3">
                  <label class="form-label">Slug<span class="text-danger ms-1">*</span></label>
                  <input type="text" class="form-control" value="computers">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="mb-3 list position-relative">
                  <label class="form-label">SKU<span class="text-danger ms-1">*</span></label>
                  <input type="text" class="form-control list" value="LNV-IP3-8GB-256SSD-BLK">
                  <button type="submit" class="btn btn-primaryadd">
                    Generate
                  </button>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="mb-3">
                  <label class="form-label">Selling Type<span class="text-danger ms-1">*</span></label>
                  <mat-select class="custom-mat-select select" placeholder="Online">
                    <mat-option value="1">Select</mat-option>
                    <mat-option value="1">Online</mat-option>
                    <mat-option value="1">POS</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
            <div class="addservice-info">
              <div class="row">
                <div class="col-sm-6 col-12">
                  <div class="mb-3">
                    <div class="add-newplus">
                      <label class="form-label">Category<span class="text-danger ms-1">*</span></label>
                      <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add-units-category"><i data-feather="plus-circle" class="plus-down-add"></i><span>Add
                          New</span></a>
                    </div>
                    <mat-select class="custom-mat-select select" placeholder="Computers">
                      <mat-option value="1">Select</mat-option>
                      <mat-option value="1">Computers</mat-option>
                      <mat-option value="1">Electronics</mat-option>
                      <mat-option value="1">Shoe</mat-option>
                      <mat-option value="1">Cosmetics</mat-option>
                      <mat-option value="1">Groceries</mat-option>
                      <mat-option value="1">Furniture</mat-option>
                      <mat-option value="1">Bags</mat-option>
                      <mat-option value="1">Phone</mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-sm-6 col-12">
                  <div class="mb-3">
                    <label class="form-label">Sub Category<span class="text-danger ms-1">*</span></label>
                    <mat-select class="custom-mat-select select" placeholder="Laptop">
                      <mat-option value="1">Select</mat-option>
                      <mat-option value="1">Laptop</mat-option>
                      <mat-option value="1">Desktop</mat-option>
                      <mat-option value="1">Sneakers</mat-option>
                      <mat-option value="1">Formals</mat-option>
                      <mat-option value="1">Wearables</mat-option>
                      <mat-option value="1">Speakers</mat-option>
                      <mat-option value="1">Handbags</mat-option>
                      <mat-option value="1">Travel</mat-option>
                      <mat-option value="1">Sofa</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="add-product-new">
              <div class="row">
                <div class="col-sm-6 col-12">
                  <div class="mb-3">
                    <div class="add-newplus">
                      <label class="form-label">Brand<span class="text-danger ms-1">*</span></label>
                    </div>
                    <mat-select class="custom-mat-select select" placeholder="Lenevo">
                      <mat-option value="1">Select</mat-option>	
                      <mat-option value="1">Lenevo</mat-option>
                      <mat-option value="1">Beats</mat-option>
                      <mat-option value="1">Nike</mat-option>
                      <mat-option value="1">Apple</mat-option>
                      <mat-option value="1">Amazon</mat-option>
                      <mat-option value="1">Woodmart</mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-sm-6 col-12">
                  <div class="mb-3">
                    <div class="add-newplus">
                      <label class="form-label">Unit<span class="text-danger ms-1">*</span></label>
                    </div>
                    <mat-select class="custom-mat-select select" placeholder="Pcs">
                      <mat-option value="1">Select</mat-option>
                      <mat-option value="1">Kg</mat-option>
                      <mat-option value="1">Pcs</mat-option>
                      <mat-option value="1">L</mat-option>
                      <mat-option value="1">dz</mat-option>
                      <mat-option value="1">bx</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
            </div>			
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <div class="add-newplus">
                    <label class="form-label">Barcode Symbology<span class="text-danger ms-1">*</span></label>
                  </div>
                  <mat-select class="custom-mat-select select" placeholder="Code 128">
                    <mat-option value="1">Select</mat-option>
                    <mat-option value="1">Code 128</mat-option>
                    <mat-option value="1">Code 39</mat-option>
                    <mat-option value="1">UPC-A</mat-option>
                    <mat-option value="1">UPC_E</mat-option>
                    <mat-option value="1">EAN-8</mat-option>
                    <mat-option value="1">EAN-13</mat-option>
                  </mat-select>
                </div>
              </div>
                <div class="col-lg-6 col-sm-6 col-12">
                <div class="mb-3 list position-relative">
                    <label class="form-label">Item Barcode<span class="text-danger ms-1">*</span></label>
                  <input type="text" class="form-control list" value="PT001">
                  <button type="submit" class="btn btn-primaryadd">
                    Generate
                  </button>
                </div>
              </div>
            </div>
            <!-- Editor -->
            <div class="col-lg-12">
              <div class="summer-description-box">
                <label class="form-label">Description</label>
                <ngx-editor [editor]="editor">
                  <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" >
                  </ngx-editor-menu>
               </ngx-editor>
               
                <p class="fs-14 mt-1">Maximum 60 Words</p>
              </div>
            </div>
            <!-- /Editor -->
          </div>
        </div>
      </div>
      <div class="accordion-item border mb-4"> 
        <h2 class="accordion-header" id="headingSpacingTwo">
          <div class="accordion-button collapsed bg-white" data-bs-toggle="collapse" data-bs-target="#SpacingTwo" aria-expanded="true" aria-controls="SpacingTwo">
            <div class="d-flex align-items-center justify-content-between flex-fill">
            <h5 class="d-flex align-items-center"><i data-feather="life-buoy" class="text-primary me-2"></i><span>Pricing & Stocks</span></h5>
            </div>
          </div>
        </h2>
        <div id="SpacingTwo" class="accordion-collapse collapse show" aria-labelledby="headingSpacingTwo">
          <div class="accordion-body border-top">
            <div class="mb-3s">
              <label class="form-label">Product Type<span class="text-danger ms-1">*</span></label>
              <div class="single-pill-product mb-3">
                <ul class="nav nav-pills" id="pills-tab1" role="tablist">
                  <li class="nav-item" role="presentation">
                    <span class="custom_radio me-4 mb-0 active" id="pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-home"  role="tab" aria-controls="pills-home" aria-selected="true">
                      <input type="radio" class="form-control" name="payment">
                    <span class="checkmark"></span> Single Product</span>
                  </li>
                  <li class="nav-item" role="presentation">
                    <span  class="custom_radio me-2 mb-0" id="pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-profile"  role="tab" aria-controls="pills-profile" aria-selected="false">
                    <input type="radio" class="form-control" name="sign">
                    <span class="checkmark"></span> Variable Product</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                aria-labelledby="pills-home-tab">
                <div class="single-product">
                <div class="row">
                  <div class="col-lg-4 col-sm-6 col-12">
                    <div class="mb-3">
                      <label class="form-label">Quantity<span class="text-danger ms-1">*</span></label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-12">
                    <div class="mb-3">
                      <label class="form-label">Price<span class="text-danger ms-1">*</span></label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-12">
                    <div class="mb-3">
                      <label class="form-label">Tax Type<span class="text-danger ms-1">*</span></label>
                      <mat-select class="custom-mat-select select" placeholder="Select">
                        <mat-option value="1">Select</mat-option>
                        <mat-option value="1">Exclusive</mat-option>
                          <mat-option value="1">Inclusive</mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                      <div class="mb-3">
                        <label class="form-label">Tax<span class="text-danger ms-1">*</span></label>
                        <mat-select class="custom-mat-select select" placeholder="Select">
                          <mat-option value="1">Select</mat-option>
                          <mat-option value="1">IGST (8%)</mat-option>
                          <mat-option value="1">GST (5%)</mat-option>
                          <mat-option value="1">SGST (4%)</mat-option>
                          <mat-option value="1">CGST (16%)</mat-option>
                        <mat-option value="1">Gst 18%</mat-option>
                      </mat-select>
                    </div>
                  </div>
          
                  <div class="col-lg-4 col-sm-6 col-12">
                    <div class="mb-3">
                      <label class="form-label">Discount Type<span class="text-danger ms-1">*</span></label>
                      <mat-select class="custom-mat-select select" placeholder="Select">
                        <mat-option value="1">Select</mat-option>
                        <mat-option value="1">Percentage</mat-option>
                          <mat-option value="1">Fixed</mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-12">
                    <div class="mb-3">
                      <label class="form-label">Discount Value<span class="text-danger ms-1">*</span></label>
                      <input class="form-control" type="text">
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-12">
                    <div class="mb-3">
                      <label class="form-label">Quantity Alert<span class="text-danger ms-1">*</span></label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>		
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel"
              aria-labelledby="pills-profile-tab">
              <div class="row select-color-add">
                <div class="col-lg-6 col-sm-6 col-12">
                  <div class="mb-3">
                    <label class="form-label">Variant Attribute <span class="text-danger ms-1">*</span></label>
                    <div class="row">
                      <div class="col-lg-10 col-sm-10 col-10">
                        <select class="form-control variant-select select-option" id="colorSelect" (change)="addRow()">
                          <option >Choose</option>
                          <option >Color</option>
                          <option value="red" >Red</option>
                          <option value="black">Black</option>
                        </select>
                      </div>
                      <div class="col-lg-2 col-sm-2 col-2 ps-0">
                        <div class="add-icon tab">
                          <a class="btn btn-filter" data-bs-toggle="modal"
                            data-bs-target="#add-units"><i class="ti ti-circle-plus"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="selected-hide-color" id="input-show" [ngStyle]="{'display':isVisible?'block':'none'}">
                    <label class="form-label">Variant Attribute <span class="text-danger ms-1">*</span></label>
                    <div class="row align-items-center" >
                      <div class="col-lg-10 col-sm-10 col-10">
                        <div class="mb-3">
                          <tag-input [(ngModel)]="tags" [placeholder]="'Add new'" [ngModelOptions]="{standalone: true}"></tag-input>
                          <!-- <input class="input-tags form-control" id="inputBox" type="text" data-role="tagsinput"  name="specialist" value="red, black" > -->
                        </div>
                      </div>
                      <div class="col-lg-2 col-sm-2 col-2 ps-0">
                        <div class="mb-3 ">
                          <a href="javascript:void(0);" class="remove-color" (click)="removeRow()"><i class="far fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal-body-table border" id="variant-table">
                <div class="table-responsive">
                  <table class="table border">
                    <thead>
                      <tr>
                        <th>Variantion</th>
                        <th>Variant Value</th>
                        <th>SKU</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th class="no-sort"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="add-product">
                            <input type="text" class="form-control" value="color">
                          </div>												
                        </td>
                        <td>
                          <div class="add-product">
                            <input type="text" class="form-control" value="red">
                          </div>
                        </td>
                        <td>
                          <div class="add-product">
                            <input type="text" class="form-control" value="1234">
                          </div>
                        </td>
                        <td>
                          <app-common-counter [value]="2"/>
                        </td>
                        <td>
                          <div class="add-product">
                            <input type="text" class="form-control" value="50000">
                          </div>
                        </td>
                        <td class="action-table-data">
                          <div class="edit-delete-action">
                            <div class="input-block add-lists">
                              <label class="checkboxs">
                                <input type="checkbox" checked>
                                <span class="checkmarks"></span>
                              </label>
                            </div>
                            <a class="me-2 p-2" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add-variation">
                              <i data-feather="plus" class="feather icon-edit"></i>
                            </a>
                            <a data-bs-toggle="modal" data-bs-target="#delete-modal" class="p-2" href="javascript:void(0);">
                              <i data-feather="trash-2" class="feather icon-trash-2"></i>
                            </a>
                          </div>
                          
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="add-product">
                            <input type="text" class="form-control" value="color">
                          </div>												
                        </td>
                        <td>
                          <div class="add-product">
                            <input type="text" class="form-control" value="black">
                          </div>
                        </td>
                        <td>
                          <div class="add-product">
                            <input type="text" class="form-control" value="2345">
                          </div>
                        </td>
                        <td>
                          <app-common-counter [value]="2"/>
                        </td>
                        <td>
                          <div class="add-product">
                            <input type="text" class="form-control" value="50000">
                          </div>
                        </td>
                        <td class="action-table-data">
                          <div class="edit-delete-action">
                            <div class="input-block add-lists">
                              <label class="checkboxs">
                                <input type="checkbox" checked>
                                <span class="checkmarks"></span>
                              </label>
                            </div>
                            <a class="me-2 p-2" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add-variation">
                              <i data-feather="plus" class="feather icon-edit"></i>
                            </a>
                            <a data-bs-toggle="modal" data-bs-target="#delete-modal" class="p-2" href="javascript:void(0);">
                              <i data-feather="trash-2" class="feather icon-trash-2"></i>
                            </a>
                          </div>													
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              </div>	
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item border mb-4">
        <h2 class="accordion-header" id="headingSpacingThree">
          <div class="accordion-button collapsed bg-white" data-bs-toggle="collapse" data-bs-target="#SpacingThree" aria-expanded="true" aria-controls="SpacingThree">
            <div class="d-flex align-items-center justify-content-between flex-fill">
            <h5 class="d-flex align-items-center"><i data-feather="image" class="text-primary me-2"></i><span>Images</span></h5>
            </div>
          </div>
        </h2>
        <div id="SpacingThree" class="accordion-collapse collapse show" aria-labelledby="headingSpacingThree">
          <div class="accordion-body border-top">
            <div class="text-editor add-list add">
              <div class="col-lg-12">
                <div class="add-choosen">
                  <div class="mb-3">
                  <div class="image-upload image-upload-two">
                      <input type="file">
                      <div class="image-uploads">
                        <i data-feather="plus-circle" class="ti ti-circle-plus plus-down-add me-0"></i>
                        <h4>Add Images</h4>
                      </div>
                    </div>
                  </div>
                  <div class="phone-img" [ngStyle]="{'display':isImage[1]?'none':''}">
                    <img src="assets/img/products/phone-add-2.png" alt="image">
                    <a href="javascript:void(0);" (click)="imageRemove(1)"><i data-feather="x" class="feather icon-x x-square-add remove-product"></i></a>
                  </div>

                  <div class="phone-img" [ngStyle]="{'display':isImage[2]?'none':''}">
                    <img src="assets/img/products/phone-add-1.png" alt="image">
                    <a href="javascript:void(0);" (click)="imageRemove(2)"><i data-feather="x" class="feather icon-x x-square-add remove-product"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item border mb-4">
        <h2 class="accordion-header" id="headingSpacingFour">
          <div class="accordion-button collapsed bg-white" data-bs-toggle="collapse" data-bs-target="#SpacingFour" aria-expanded="true" aria-controls="SpacingFour">
            <div class="d-flex align-items-center justify-content-between flex-fill">
            <h5 class="d-flex align-items-center"><i data-feather="list" class="text-primary me-2"></i><span>Custom Fields</span></h5>
            </div>
          </div>
        </h2>
        <div id="SpacingFour" class="accordion-collapse collapse show" aria-labelledby="headingSpacingFour">
          <div class="accordion-body border-top">
            <div>
              <div class="p-3 bg-light rounded d-flex align-items-center border mb-3">
                <div class=" d-flex align-items-center">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="warranties" value="option1">
                    <label class="form-check-label" for="warranties">Warranties</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="manufacturer" value="option2">
                    <label class="form-check-label" for="manufacturer">Manufacturer</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="expiry" value="option2">
                    <label class="form-check-label" for="expiry">Expiry</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-12">
                  <div class="mb-3">
                    <label class="form-label">Warranty<span class="text-danger ms-1">*</span></label>
                    <mat-select class="custom-mat-select select" placeholder="Select">
                      <mat-option value="1">Select</mat-option>
                      <mat-option value="1">Replacement Warranty</mat-option>
                      <mat-option value="1">On-Site Warranty</mat-option>
                      <mat-option value="1">Accidental Protection Plan</mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-sm-6 col-12">
                  <div class="mb-3 add-product">
                    <label class="form-label">Manufacturer<span class="text-danger ms-1">*</span></label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-12">
                  <div class="mb-3">
                    <label class="form-label">Manufactured Date<span class="text-danger ms-1">*</span></label>

                    <div class="input-groupicon calender-input">
                      <i data-feather="calendar" class="info-img"></i>
                      <input type="text" class="datetimepicker form-control" bsDatepicker placement="top" placeholder="dd/mm/yyyy">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-12">
                  <div class="mb-3">
                    <label class="form-label">Expiry On<span class="text-danger ms-1">*</span></label>

                    <div class="input-groupicon calender-input">
                      <i data-feather="calendar" class="info-img"></i>
                      <input type="text" class="datetimepicker form-control" bsDatepicker placement="top" placeholder="dd/mm/yyyy">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="d-flex align-items-center justify-content-end mb-4">
      <button type="button" class="btn btn-secondary me-2">Cancel</button>
      <button type="submit" class="btn btn-primary">Add Product</button>
    </div>
  </div>
</form>
      <!-- /add -->



      <!-- Add Category -->
      <div class="modal fade" id="add-units-category">
        <div class="modal-dialog modal-dialog-centered custom-modal-two">
          <div class="modal-content">
            <div class="page-wrapper-new p-0">
              <div class="content">
                <div class="modal-header border-0 custom-modal-header">
                  <div class="page-title">
                    <h4>Add New Category</h4>
                  </div>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body custom-modal-body">
                  <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="modal-footer-btn">
                    <a href="javascript:void(0);" class="btn btn-cancel me-2" data-bs-dismiss="modal">Cancel</a>
                    <a [routerLink] = "routes.addProduct" class="btn btn-submit">Submit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Add Category -->

      <!-- Add Brand -->
      <div class="modal fade" id="add-units-brand">
        <div class="modal-dialog modal-dialog-centered custom-modal-two">
          <div class="modal-content">
            <div class="page-wrapper-new p-0">
              <div class="content">
                <div class="modal-header border-0 custom-modal-header">
                  <div class="page-title">
                    <h4>Add New Brand</h4>
                  </div>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body custom-modal-body">
                  <div class="mb-3">
                    <label class="form-label">Brand</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="modal-footer-btn">
                    <a href="javascript:void(0);" class="btn btn-cancel me-2" data-bs-dismiss="modal">Cancel</a>
                    <a [routerLink] = "routes.addProduct" class="btn btn-submit">Submit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Add Brand -->

      <!-- Add Unit -->
      <div class="modal fade" id="add-units">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="page-title">
                <h4>Add Variant Attribute</h4>
              </div>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Variant Name<span class="text-danger ms-1">*</span></label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Value<span class="text-danger ms-1">*</span></label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <p>Enter value separated by comma</p>
            </div>
            <div class="modal-footer">
              <a href="javascript:void(0);" class="btn me-2 btn-secondary fs-13 fw-medium p-2 px-3 shadow-none" data-bs-dismiss="modal">Cancel</a>
              <a href="javascript:void(0);" class="btn btn-primary p-2 px-3 text-white" data-bs-dismiss="modal">Submit</a>
            </div>
          </div>
        </div>
    </div>
      <!-- /Add Unit -->

      <!-- Add Variatent -->
      <div class="modal fade" id="add-variation">
        <div class="modal-dialog modal-dialog-centered custom-modal-two">
          <div class="modal-content">
            <div class="page-wrapper-new p-0">
              <div class="content">
                <div class="modal-header border-0 custom-modal-header">
                  <div class="page-title">
                    <h4>Add Variation</h4>
                  </div>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body custom-modal-body">
                  <div class="modal-title-head people-cust-avatar">
                    <h6>Variant Thumbnail</h6>
                  </div>
                  <div class="new-employee-field">
                    <div class="profile-pic-upload">
                      <div class="profile-pic">
                        <span><i class="ti ti-circle-plus plus-down-add"></i> Add Image</span>
                      </div>
                      <div class="mb-3">
                        <div class="image-upload mb-0">
                          <input type="file">
                          <div class="image-uploads">
                            <h4>Change Image</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 pe-0">
                      <div class="mb-3">
                        <label class="form-label">Barcode Symbology</label>
                        <mat-select [(ngModel)]="selectedValue14" [ngModelOptions]="{standalone: true}"
                          class="select" placeholder="Choose">
                          @for (data of selectedList11; track data) {
                            <mat-option [value]="data.value">
                              {{data.value}}
                            </mat-option>
                          }
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                      <div class="mb-3">
                        <div class="input-blocks add-product list">
                          <label>Item Code</label>
                          <input type="text" class="form-control list" value="455454478844">
                          <button type="submit" class="btn btn-primaryadd">
                            Generate Code
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="input-blocks image-upload-down">
                        <div class="image-upload download">
                          <input type="file">
                          <div class="image-uploads">
                            <img src="assets/img/download-img.png" alt="img">
                            <h4>Drag and drop a <span>file to upload</span></h4>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-body">
                        <div class="text-editor add-list add">
                          <div class="col-lg-12">
                            <div class="add-choosen mb-3">
                              <div class="phone-img ms-0">
                                <img src="assets/img/products/phone-add-2.png" alt="image">
                                <a href="javascript:void(0);"><i
                                class="feather icon-x x-square-add remove-product"></i></a>
                              </div>

                              <div class="phone-img">
                                <img src="assets/img/products/phone-add-1.png" alt="image">
                                <a href="javascript:void(0);"><i
                                class="feather icon-x x-square-add remove-product"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                      <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                      <div class="mb-3">
                        <label class="form-label">Quantity Alert</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                      <div class="mb-3">
                        <label class="form-label">Tax Type</label>
                        <mat-select [(ngModel)]="selectedValue15" [ngModelOptions]="{standalone: true}"
                          class="select" placeholder="Choose">
                          @for (data of selectedList15; track data) {
                            <mat-option [value]="data.value">
                              {{data.value}}
                            </mat-option>
                          }
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                      <div class="mb-3">
                        <label class="form-label">Tax </label>
                        <mat-select [(ngModel)]="selectedValue16" [ngModelOptions]="{standalone: true}"
                          class="select" placeholder="Choose">
                          @for (data of selectedList16; track data) {
                            <mat-option [value]="data.value">
                              {{data.value}}
                            </mat-option>
                          }
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-lg-12 pe-0">
                      <div class="mb-3">
                        <label class="form-label">Discount Type </label>
                        <mat-select [(ngModel)]="selectedValue16" [ngModelOptions]="{standalone: true}"
                          class="select" placeholder="Choose">
                          @for (data of selectedList16; track data) {
                            <mat-option [value]="data.value">
                              {{data.value}}
                            </mat-option>
                          }
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-lg-12 pe-0">
                      <div>
                        <label class="form-label">Discount Value</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>


                  <div class="modal-footer-btn">
                    <a href="javascript:void(0);" class="btn btn-cancel me-2" data-bs-dismiss="modal">Cancel</a>
                    <a [routerLink] = "routes.addProduct" class="btn btn-submit">Submit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Add Variatent -->