<div class="row">
    <div class="col-xl-12">
      <div class="settings-wrapper d-flex">
        <app-settings-sidebar></app-settings-sidebar>
        <div class="card flex-fill mb-0 w-50">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h4>Bank Account</h4>
            <div class="page-btn">
              <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-account"><i data-feather="plus-circle" class="ti ti-circle-plus me-1"></i>Add New Account</a>
            </div>
          </div>
          <div class="card-body pb-0">
            <div class="row">
              <div class="col-xxl-4 col-xl-6 col-lg-12 col-sm-6">
                <div class="card bank-box" [class.active]="isActive === 'default'" (click)="setActive('default')">
                  <div class="card-body">
					  <div class="bank-header">
					  <div class="bank-name">
						<h6>Karur vysya bank</h6>
						<p>**** **** 1982</p>
					  </div>
					</div>
					<div class="d-flex align-items-center justify-content-between">
					  <div class="bank-info">
						<span>Holder Name</span>
						<h6>John Smith</h6>
					  </div>
					  <div class="edit-delete-action bank-action-btn">
						<a class="me-2 p-2" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit-account">
						  <i data-feather="edit" class="feather icon-edit feather-edit"></i>
						</a>
						<a class="p-2" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete-modal">
						  <i data-feather="trash-2" class="feather icon-trash-2 feather-trash-2"></i>
						</a>
					  </div>
					</div>
				  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-6 col-lg-12 col-sm-6">
                <div class="card bank-box" [class.active]="isActive === 'box1'" (click)="setActive('box1')">
					<div class="card-body">

						<div class="bank-header">
						  <div class="bank-name">
							<h6>Swiss Bank</h6>
							<p>**** **** 1796</p>
						  </div>
						</div>
						<div class="d-flex align-items-center justify-content-between">
						  <div class="bank-info">
							<span>Holder Name</span>
							<h6>Andrew</h6>
						  </div>
						  <div class="edit-delete-action bank-action-btn">
							<a class="me-2 p-2" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit-account">
							  <i data-feather="edit" class="feather icon-edit feather-edit"></i>
							</a>
							<a class="p-2" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete-modal">
							  <i data-feather="trash-2" class="feather icon-trash-2 feather-trash-2"></i>
							</a>
						  </div>
						</div>
					</div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-6 col-lg-12 col-sm-6">
                <div class="card bank-box" [class.active]="isActive === 'box2'" (click)="setActive('box2')">
					<div class="card-body">
						<div class="bank-header">
						  <div class="bank-name">
							<h6>HDFC</h6>
							<p>**** **** 1832</p>
						  </div>
						</div>
						<div class="d-flex align-items-center justify-content-between">
						  <div class="bank-info">
							<span>Holder Name</span>
							<h6>Mathew</h6>
						  </div>
						  <div class="edit-delete-action bank-action-btn">
							<a class="me-2 p-2" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit-account">
							  <i data-feather="edit" class="feather icon-edit feather-edit"></i>
							</a>
							<a class="p-2" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete-modal">
							  <i data-feather="trash-2" class="feather icon-trash-2 feather-trash-2"></i>
							</a>
						  </div>
						</div>
					</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
		<!-- Add Bank Account -->
		<div class="modal fade" id="add-account">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="page-wrapper-new p-0">
						<div class="content">
							<div class="modal-header">
								<div class="page-title">
									<h4>Add Bank Account</h4>
								</div>
								<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form >
								<div class="modal-body">
									<div class="row">
										<div class="col-lg-12">
											<div class="mb-3">
												<label class="form-label">Bank Name <span> *</span></label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="mb-3">
												<label class="form-label">Account Number <span> *</span></label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="mb-3">
												<label class="form-label">Account Name <span> *</span></label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="mb-3">
												<label class="form-label">Branch <span> *</span></label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="mb-3">
												<label class="form-label">IFSC <span> *</span></label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="status-toggle modal-status d-flex justify-content-between align-items-center mb-3">
												<span class="status-label">Status</span>
												<input type="checkbox" id="user2" class="check" checked="">
												<label for="user2" class="checktoggle"></label>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="status-toggle modal-status d-flex justify-content-between align-items-center">
												<span class="status-label">Make as default</span>
												<input type="checkbox" id="user3" class="check" checked="">
												<label for="user3" class="checktoggle"></label>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancel</button>
									<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Add Bank Account -->

		<!-- Edit Bank Account -->
		<div class="modal fade" id="edit-account">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="page-wrapper-new p-0">
						<div class="content">
							<div class="modal-header">
								<div class="page-title">
									<h4>Edit Bank Account</h4>
								</div>
								<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form >
								<div class="modal-body">
									<div class="row">
										<div class="col-lg-12">
											<div class="mb-3">
												<label class="form-label">Bank Name <span> *</span></label>
												<input type="text" class="form-control" value="HDFC">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="mb-3">
												<label class="form-label">Account Number <span> *</span></label>
												<input type="text" class="form-control" value="**** **** 1832">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="mb-3">
												<label class="form-label">Account Name <span> *</span></label>
												<input type="text" class="form-control" value="Mathew">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="mb-3">
												<label class="form-label">Branch <span> *</span></label>
												<input type="text" class="form-control" value="Bringham">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="mb-3">
												<label class="form-label">IFSC <span> *</span></label>
												<input type="text" class="form-control" value="124547">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="status-toggle modal-status d-flex justify-content-between align-items-center mb-3">
												<span class="status-label">Status</span>
												<input type="checkbox" id="user5" class="check" checked="">
												<label for="user5" class="checktoggle"></label>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="status-toggle modal-status d-flex justify-content-between align-items-center">
												<span class="status-label">Make as default</span>
												<input type="checkbox" id="user6" class="check" checked="">
												<label for="user6" class="checktoggle"></label>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancel</button>
									<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Edit Bank Account -->

		<!-- delete modal -->
		<div class="modal fade" id="delete-modal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="page-wrapper-new p-0">
						<div class="content p-5 px-3 text-center">
							<span class="rounded-circle d-inline-flex p-2 bg-danger-transparent mb-2"><i class="ti ti-trash fs-24 text-danger"></i></span>
							<h4 class="fs-20 text-gray-9 fw-bold mb-2 mt-1">Delete Bank</h4>
							<p class="text-gray-6 mb-0 fs-16">Are you sure you want to delete bank?</p>
							<div class="modal-footer-btn mt-3 d-flex justify-content-center">
								<button type="button" class="btn me-2 btn-secondary fs-13 fw-medium p-2 px-3 shadow-none" data-bs-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-submit fs-13 fw-medium p-2 px-3" data-bs-dismiss="modal">Yes Delete</button>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>

