<div class="row">
  <div class="col-xl-12">
    <div class="settings-wrapper d-flex">
      <app-settings-sidebar></app-settings-sidebar>
      <div class="card flex-fill mb-0">
        <div class="card-header">
          <h4 class="fs-18 fw-bold">Notification</h4>
        </div>
        <div class="card-body">
          <div>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <div>
                <h6 class="fw-medium">Mobile Push Notifications</h6>
              </div>
              <div class="status-toggle modal-status">
                <input type="checkbox" id="user1" class="check" checked>
                <label for="user1" class="checktoggle">	</label>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <div>
                <h6 class="fw-medium">Desktop Notifications</h6>
              </div>
              <div class="status-toggle modal-status">
                <input type="checkbox" id="user2" class="check" checked>
                <label for="user2" class="checktoggle">	</label>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <div>
                <h6 class="fw-medium">Email Notifications</h6>
              </div>
              <div class="status-toggle modal-status">
                <input type="checkbox" id="user3" class="check" checked>
                <label for="user3" class="checktoggle">	</label>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <div>
                <h6 class="fw-medium">MSMS Notifications</h6>
              </div>
              <div class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2">
                <input type="checkbox" id="user4" class="check" checked>
                <label for="user4" class="checktoggle">	</label>
              </div>
            </div>
            <div class="table-responsive notification-table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>General Notification</th>
                    <th>Push</th>
                    <th>SMS</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Payment
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="users4" class="check" checked>
                        <label for="users4" class="checktoggle"></label>
                      </div>
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="users5" class="check" checked>
                        <label for="users5" class="checktoggle"></label>
                      </div>
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="users6" class="check" checked>
                        <label for="users6" class="checktoggle"></label>
                      </div>
                    </td>
                  </tr>	
                  <tr>
                    <td>
                      Transaction
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user5" class="check" checked>
                        <label for="user5" class="checktoggle"></label>
                      </div>
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user6" class="check" checked>
                        <label for="user6" class="checktoggle"></label>
                      </div>
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user7" class="check" checked>
                        <label for="user7" class="checktoggle"></label>
                      </div>
                    </td>
                  </tr>												
                  <tr>
                    <td>
                      Email Verification
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user8" class="check" checked>
                        <label for="user8" class="checktoggle"></label>
                      </div>
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user9" class="check" checked>
                        <label for="user9" class="checktoggle"></label>
                      </div>
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user10" class="check" checked>
                        <label for="user10" class="checktoggle"></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      OTP
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user11" class="check" checked>
                        <label for="user11" class="checktoggle"></label>
                      </div>
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user12" class="check" checked>
                        <label for="user12" class="checktoggle"></label>
                      </div>
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user13" class="check" checked>
                        <label for="user13" class="checktoggle"></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Activity
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user14" class="check" checked>
                        <label for="user14" class="checktoggle"></label>
                      </div>
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user15" class="check" checked>
                        <label for="user15" class="checktoggle"></label>
                      </div>
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user16" class="check" checked>
                        <label for="user16" class="checktoggle"></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Account
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user17" class="check" checked>
                        <label for="user17" class="checktoggle"></label>
                      </div>
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user18" class="check" checked>
                        <label for="user18" class="checktoggle"></label>
                      </div>
                    </td>
                    <td>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user19" class="check" checked>
                        <label for="user19" class="checktoggle"></label>
                      </div>
                    </td>
                  </tr>										
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>