<div class="row">
  <div class="col-xl-12">
    <div class="settings-wrapper d-flex">
      <app-settings-sidebar></app-settings-sidebar>
      <div class="card flex-fill mb-0">
        <div class="card-header">
          <h4 class="fs-18 fw-bold">Connected Apps</h4>
        </div>
        <div class="card-body pb-0">
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="app-icon">
                      <img src="assets/img/icons/app-icon-01.svg" alt="Img">
                    </div>
                    <div class="connect-btn">
                      <a href="javascript:void(0);" class="badge bg-outline-success">Connected</a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <h5 class="fs-16 fw-medium">Calendar</h5>
                    </div>
                    <div class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2">
                      <input type="checkbox" id="user1" class="check" checked>
                      <label for="user1" class="checktoggle">	</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="app-icon">
                      <img src="assets/img/icons/app-icon-02.svg" alt="Img">
                    </div>
                    <div class="connect-btn">
                      <a href="javascript:void(0);" class="badge bg-outline-success">Connected</a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <h5 class="fs-16 fw-medium">Figma</h5>
                    </div>
                    <div class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2">
                      <input type="checkbox" id="user2" class="check" checked>
                      <label for="user2" class="checktoggle">	</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="app-icon">
                      <img src="assets/img/icons/app-icon-03.svg" alt="Img">
                    </div>
                    <div class="connect-btn">
                      <a href="javascript:void(0);" class="badge bg-outline-success">Connected</a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <h5 class="fs-16 fw-medium">Dropbox</h5>
                    </div>
                    <div class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2">
                      <input type="checkbox" id="user3" class="check" checked>
                      <label for="user3" class="checktoggle">	</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="app-icon">
                      <img src="assets/img/icons/app-icon-04.svg" alt="Img">
                    </div>
                    <div class="connect-btn">
                      <a href="javascript:void(0);" class="badge bg-outline-success">Connected</a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <h5 class="fs-16 fw-medium">Slack</h5>
                    </div>
                    <div class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2">
                      <input type="checkbox" id="user4" class="check" checked>
                      <label for="user4" class="checktoggle">	</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="app-icon">
                      <img src="assets/img/icons/app-icon-05.svg" alt="Img">
                    </div>
                    <div class="connect-btn">
                      <a href="javascript:void(0);" class="badge bg-outline-success">Connected</a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <h5 class="fs-16 fw-medium">Github</h5>
                    </div>
                    <div class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2">
                      <input type="checkbox" id="user5" class="check" checked>
                      <label for="user5" class="checktoggle">	</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="app-icon">
                      <img src="assets/img/icons/app-icon-06.svg" alt="Img">
                    </div>
                    <div class="connect-btn">
                      <a href="javascript:void(0);" class="badge bg-outline-success">Connected</a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <h5 class="fs-16 fw-medium">Figma</h5>
                    </div>
                    <div class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2">
                      <input type="checkbox" id="user6" class="check" checked>
                      <label for="user6" class="checktoggle">	</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
