<div class="row">
  <div class="col-xl-12">
    <div class="settings-wrapper d-flex">
      <app-settings-sidebar></app-settings-sidebar>
      <div class="card flex-fill mb-0">
        <div class="card-header">
          <h4 class="fs-18 fw-bold">Appearance</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="appearance-settings">
              <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-4">
                  <div class="setting-info mb-4">
                    <h6>Select Theme</h6>
                    <p>Choose accent colour of website</p>
                  </div>
                </div>
                <div class="col-xl-8 col-lg-12 col-md-8">
                  <div class="theme-type-images d-flex align-items-center mb-4">
                    <div class="theme-image" [class.active]="isActive === 'light'" (click)="setActive('light')">
                      <div class="theme-image-set">
                        <img src="assets/img/theme/theme-img-08.jpg" alt="Img">
                      </div>
                      <span>Light</span>
                    </div>
                    <div class="theme-image" [class.active]="isActive === 'Dark'" (click)="setActive('Dark')">
                      <div class="theme-image-set">
                        <img src="assets/img/theme/theme-img-09.jpg" alt="Img">
                      </div>
                      <span>Dark</span>
                    </div>
                    <div class="theme-image" [class.active]="isActive === 'Automatic'" (click)="setActive('Automatic')">
                      <div class="theme-image-set">
                        <img src="assets/img/theme/theme-img-10.jpg" alt="Img">
                      </div>
                      <span>Automatic</span>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-4">
                  <div class="setting-info mb-4">
                    <h6>Accent Color</h6>
                    <p>Choose accent colour of website</p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-4">
                  <div class="theme-colors mb-4">
                    <ul>
                      <li>
                      <span class="themecolorset defaultcolor" [class.active]="isActive1 === 'default'" (click)="setActive1('default')"></span>
                      </li>
                      <li>
                      <span class="themecolorset theme-violet" [class.active]="isActive1 === 'violet'" (click)="setActive1('violet')"></span>
                      </li>
                      <li>
                      <span class="themecolorset theme-blue" [class.active]="isActive1 === 'blue'" (click)="setActive1('blue')"></span>
                      </li>
                      <li>
                      <span class="themecolorset theme-brown" [class.active]="isActive1 === 'brown'" (click)="setActive1('brown')"></span>
                      </li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-4">
                  <div class="setting-info mb-4">
                    <h6>Expand Sidebar</h6>
                    <p>Choose accent colour of website</p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-4">
                  <div class="status-toggle modal-status d-flex justify-content-between align-items-center ms-2">
                    <input type="checkbox" id="user1" class="check" checked>
                    <label for="user1" class="checktoggle">	</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-4">
                  <div class="setting-info mb-4">
                    <h6>Sidebar Size</h6>
                    <p>Select size of the sidebar to display</p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-4">
                  <div class="localization-select">
                    <mat-select class="custom-mat-select select" placeholder="Small - 85px">
                      <mat-option value="1">Small - 85px</mat-option>
                      <mat-option value="1">Large - 250px</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-4">
                  <div class="setting-info mb-4">
                    <h6>Font Family</h6>
                    <p>Select font family of website</p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-4">
                  <div class="localization-select">
                    <mat-select class="custom-mat-select select" placeholder="Nunito">
                      <mat-option value="1">Nunito</mat-option>
                      <mat-option value="1">Poppins</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-end settings-bottom-btn mt-0">
              <button type="button" class="btn btn-secondary me-2">Cancel</button>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>