<div class="page-header">
  <div class="add-item d-flex">
    <div class="page-title">
      <h4>Attendance</h4>
      <h6>Manage your Attendance</h6>
    </div>
  </div>
  <ul class="table-top-head">
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" title="Pdf"
        ><img src="assets/img/icons/pdf.svg" alt="img"
      /></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" title="Excel"
        ><img src="assets/img/icons/excel.svg" alt="img"
      /></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"
        ><i class="ti ti-refresh"></i
      ></a>
    </li>
    <li>
      <a (click)="toggleCollapse()" [class.active]="isCollapsed"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Collapse" matTooltip="Collapse" matTooltipPosition="above"
        id="collapse-header"
        > @if (!isCollapsed) {
        <i class="ti ti-chevron-up"></i>
      }
      @if (isCollapsed) {
        <i class="ti ti-chevron-up"></i>
      }</a>
    </li>
    <li></li>
  </ul>

  </div>
  <!-- /product list -->
  <div class="card table-list-card">
    <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
      <div class="search-set">
        <div class="search-input">
          <a href="javascript:void(0);" class="btn btn-searchset"
            ><i class="feather icon-search feather-search"></i
          ></a>
          <div class="dataTables_filter">
            <label>
              <input
                [(ngModel)]="searchDataValue"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="searchData(searchDataValue)"
                type="search"
                class="form-control"
                placeholder="Search"
              />
            </label>
          </div>
        </div>
      </div>
      <div class="d-flex table-dropdown my-xl-auto right-content align-items-center flex-wrap row-gap-3">
        <div class="me-2 date-select-small">
          <div class="input-addon-left position-relative ngxdate">
            <input type="text" class="form-control datetimepicker" bsDatepicker container=".ngxdate" placeholder="Select Date">
            <span class="cus-icon"><i class="feather icon-calendar feather-clock"></i></span>
          </div>
        </div>
        <div class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle btn btn-white btn-md d-inline-flex align-items-center" data-bs-toggle="dropdown">
            Select Status
          </a>
          <ul class="dropdown-menu  dropdown-menu-end p-3">
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">Present</a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">Absent</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body pb-0">

                        <div class="table-responsive">
                          <table
                            class="table datanew"
                            (matSortChange)="sortData($event)"
                            matSort
                            matSortActive="Sno"
                            matSortDirection="asc"
                            matSortDisableClear
                            >
                            <thead class="thead-light">
                              <tr>
                                <th mat-sort-header="empname">Employee</th>
                                <th mat-sort-header="empid">Status</th>
                                <th mat-sort-header="clockin">Clock In</th>
                                <th mat-sort-header="clockout">Clock Out</th>
                                <th mat-sort-header="production">Production</th>
                                <th mat-sort-header="break">Break</th>
                                <th mat-sort-header="overtime">Overtime</th>
                                <th mat-sort-header="totalhours">Total Hours</th>
                              </tr>
                            </thead>
                            <tbody>
                              @for (data of tableData; track data; let i = $index) {
                                <tr>
                                  <td>
                                    <div class="d-flex align-items-center">
                                      <a href="javascript:void(0);" class="avatar avatar-md me-2">
                                        <img src="assets/img/users/{{data.img}}" alt="product">
                                      </a>
                                      <div>
                                        <h6><a href="javascript:void(0);">{{data.employee}}</a></h6>
                                        <span>{{data.designation}}</span>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <span class="badge d-inline-flex align-items-center badge-xs" [ngClass]="data.status==='Present'?'badge-success':'badge-danger'">
                                      <i class="ti ti-point-filled me-1"></i>{{data.status}}
                                    </span>
                                  </td>
                                  <td>{{data.clockIn}}</td>
                                  <td>{{data.clockOut}}</td>
                                  <td>{{data.production}}</td>
                                  <td>{{data.break}}</td>
                                  <td>{{data.overtime}}</td>
                                  <td>{{data.totalHours}}</td>
                                </tr>
                              }@if(tableData.length === 0){
                                <tr>
                                    <td class="text-center" colspan="12">No Matching Data Found</td>
                                </tr>
                            }
                            </tbody>
                          </table>

                        </div>
                        <app-custom-pagination></app-custom-pagination>
                      </div>
                    </div>
                    <!-- /product list -->

