<div class="account-content">
    <div class="login-wrapper login-new">
        <div class="row w-100">
            <div class="col-lg-5 mx-auto">
                <div class="login-content user-login">
                    <div class="login-logo">
                        <img src="assets/img/logo.svg" alt="img">
                        <a href="index.html" class="login-logo logo-white">
                            <img src="assets/img/logo-white.svg"  alt="Img">
                        </a>
                    </div>
                    <form action="success-3.html">
                        <div class="card">
                            <div class="card-body p-5">
                                <div class="login-userheading">
                                    <h3>Reset password?</h3>
                                    <h4>Enter New Password & Confirm Password to get inside</h4>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Old Password <span class="text-danger"> *</span></label>
                                    <div class="pass-group">
                                        <input [type]="password[1] ? 'text' : 'password' " class="pass-input form-control">
                                        <span class="ti toggle-password text-gray-9" [ngClass]=" password[1] ? 'ti-eye' : 'ti-eye-off'" (click)="togglePassword(1)"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">New Password <span class="text-danger"> *</span></label>
                                    <div class="pass-group">
                                        <input [type]="password[2] ? 'text' : 'password' " class="pass-input form-control">
                                        <span class="ti toggle-password text-gray-9" [ngClass]=" password[2] ? 'ti-eye' : 'ti-eye-off'" (click)="togglePassword(2)"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Confirm Password <span class="text-danger"> *</span></label>
                                    <div class="pass-group">
                                        <input [type]="password[3] ? 'text' : 'password' " class="pass-input form-control">
                                        <span class="ti toggle-password text-gray-9" [ngClass]=" password[3] ? 'ti-eye' : 'ti-eye-off'" (click)="togglePassword(3)"></span>
                                    </div>
                                </div>
                                <div class="form-login">
                                    <button type="submit" class="btn btn-login" (click)="navigation()">Change Password</button>
                                </div>
                                <div class="signinform text-center mb-0">
                                    <h4>Return to <a [routerLink]="routes.signIn3" class="hover-a"> login </a></h4>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="my-4 d-flex justify-content-center align-items-center copyright-text">
            <p>Copyright &copy; 2025 DreamsPOS</p>
        </div>
    </div>
</div>