<div class="account-content">
    <div class="login-wrapper login-new">
        <div class="row w-100">
            <div class="col-lg-5 mx-auto">
                <div class="login-content user-login">
                    <div class="login-logo">
                        <img src="assets/img/logo.svg" alt="img">
                        <a [routerLink]="routes.index" class="login-logo logo-white">
                            <img src="assets/img/logo-white.svg"  alt="Img">
                        </a>
                    </div>
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="login-userheading text-center">
                                <img src="assets/img/icons/check-icon.svg" alt="Icon">
                                <h3 class="text-center">Success</h3>
                                <h4 class="verfy-mail-content text-center">Your Passwrod Reset Successfully!</h4>
                            </div>
                            <div class="form-login mb-0">
                                <a class="btn btn-login mt-0" [routerLink]="routes.signIn3">Back to Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-4 d-flex justify-content-center align-items-center copyright-text">
            <p>Copyright &copy; 2025 DreamsPOS</p>
        </div>
    </div>
</div>