<div class="row">
  <div class="col-xl-12">
    <div class="settings-wrapper d-flex">
      <app-settings-sidebar></app-settings-sidebar>
      <div class="card flex-fill mb-0">
        <div class="card-header">
          <h4 class="fs-18 fw-bold">Prefixes</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Product (SKU)</label>
                  <input type="text" class="form-control" value="SKU -">
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Supplier</label>
                  <input type="text" class="form-control" value="SUP -">
                </div>
              </div>									
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Purchase</label>
                  <input type="text" class="form-control" value="PU -">
                </div>
              </div>										
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Purchase Return</label>
                  <input type="text" class="form-control" value="PR -">
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Sales</label>
                  <input type="text" class="form-control" value="SA -">
                </div>
              </div>										
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Sales Return</label>
                  <input type="text" class="form-control" value="SR -">
                </div>
              </div>	
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Customer</label>
                  <input type="text" class="form-control" value="CT -">
                </div>
              </div>	
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Expense</label>
                  <input type="text" class="form-control" value="EX -">
                </div>
              </div>	
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Stock Transfer</label>
                  <input type="text" class="form-control" value="ST -">
                </div>
              </div>	
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Stock Adjustmentt</label>
                  <input type="text" class="form-control" value="SA -">
                </div>
              </div>	
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Sales Order</label>
                  <input type="text" class="form-control" value="SO -">
                </div>
              </div>	
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">POS Invoice</label>
                  <input type="text" class="form-control" value="PINV -">
                </div>
              </div>	
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Estimation</label>
                  <input type="text" class="form-control" value="EST -">
                </div>
              </div>	
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Transaction</label>
                  <input type="text" class="form-control" value="TRN -">
                </div>
              </div>	
              <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Employee</label>
                  <input type="text" class="form-control" value="EMP -">
                </div>
              </div>	
            </div>
            <div class="text-end settings-bottom-btn mt-0">
              <button type="button" class="btn btn-secondary me-2">Cancel</button>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
